*{
    margin: 0;
    padding: 0;
    font-family: 'Hind Siliguri', sans-serif; 
}

/**Main******************/
.main{
    background-image: url(images/headphones_hero_1.jpg);
    height: 700px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    row-gap: 300px;
}

/** Header**/
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.header img{
    height: 50px;
    width: 200px;
}
.header-url{
    display: flex;
    justify-content: space-around;
}
.header-url li{
 list-style: none;
 padding: 10px;
}

.header-url a{
    text-decoration: none;
    color: #ffff;
    font-size: 14px;
    font-weight: 700;
}

.header-url a:hover{
    color: #FF6565;
}

/** Main-other **/
.main-other{
    
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 650px;
}
    
.main-other h1{
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: #ffff;
}

.main-other p{
    font-size: 16px;
    text-align: center;
    color: #ffff;
    line-height: 1.5;    
}

.main-other button{
    width: 162px;
    height: 44px;
    background-color: #FF6565;
    color: #ffff;
    text-align: center;
    border: none;
    border-radius: 15px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 30px;
}

.main-other button:hover{
    opacity: 0.9;
}

.main-other p:first-child{
    font-size: 16px;
}


/* What we do section */

.what-do{
    margin-top: 150px;
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 80px;
}

.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    align-items: center;
    width: 650px;
}
.description h1{
    font-size: 32px;
    text-align: center;
    line-height: 36px;
    color:#071629;
}
.description p{
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    color: #071629;
}
.icon{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.unit-icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.unit-icon h2{
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    color: #071629;
}

.unit-icon p{
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #071629;
}
.unit-icon img{
    width: 50px;
    height: 50px;
}

.our-results{
    background-image: url(images/headphones_hero_2.jpg);
    position: absolute;
    width: 100%;
    height: 100%;
    padding-top: 80px;
    padding-bottom: 80px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.our-results h1{
    font-size: 32px;
    text-align: center;
    line-height: 37px;
    color:#FFFFFF;
}
#spec-p{
    width: 650px; 
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color:#FFFFFF;
    margin-bottom: 40px;
}
.our-results .description{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.our-results .description1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(images/pentagone.png);
    background-size: cover;
    background-position: center;
    gap: 50px;
    width: 200px;
    height: 190px;
}

.our-results .description1 h2{
    margin-top: 25px;
    font-size: 46px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
    color:#FFFFFF;
}

.our-results .description1 p{
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color:#FFFFFF;
}



.contact-us{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: red;
}

/*Mobile Specifique Configuration*/

@media screen and  (max-width : 480px) {
    h1{
        color: rgb(66, 66, 83);
        background-color: #FF6565;
        font-size: 15px;
    }
}