body{
    display:flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: row;
}

main h1{
    color: blue;
}
main h2{
    color: rgb(97, 97, 133);
}
article{
    flex: 2;
    overflow-y: auto;
}

aside{
    flex: 1;
    overflow-y: auto;
    color: rgb(97, 97, 133);
}